.accordion {
  .accordion-item {
    border: 1px solid cadetblue;
    margin-bottom: 5px;
    cursor: pointer;

    .accordion-header {
      padding: 10px;
      background-color: cadetblue;
      color: white;
    }

    .accordion-content {
      padding: 10px;
      background-color: #fff;
      display: none;

      &.expanded {
        display: block;
      }
    }
  }
}
