<div class="accordion">
  <div
    class="accordion-item"
    *ngFor="let item of items; let i = index"
    (click)="toggleAccordion(i)"
  >
    <div class="accordion-header">{{ item.header }}</div>
    <div class="accordion-content" [class.expanded]="selectedIndex === i">
      <p *ngIf="!item.type" class="content">{{ item.content }}</p>
      <a
        *ngIf="item.type === 'link'"
        href="{{ item.content }}"
        target="_blank"
        class="content"
        >{{ item.content }}</a
      >
    </div>
  </div>
</div>
